<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentOne">
            <h2><span jhiTranslate="testauditApp.studentOne.detail.title">Student One</span> {{studentOne.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testauditApp.studentOne.name">Name</span></dt>
                <dd>
                    <span>{{studentOne.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-one-sdm-suffix', studentOne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
